extends layout

block content
  h1= title
  if user   
    a(href='/log-out') Log out<br> 
    p Welcome back, #{user.first_name}  
    form(action='' method='post')
      div.form-group 
        label(for='title') Title: 
        input#title.form-control(type='text' placeholder='Give this post a cool title' name='title' required='true' value=(undefined===message ? "": message.title))  
      div.form-group 
        label(for='text') Message: 
        input#text.form-control(type='text' placeholder='What is on your mind?' name='text' required='true' value=(undefined===message ? "": message.text))
      button.btn.btn-primary(type='submit') Send     
      if errors
        ul
          for error in errors
            li!= error.msg    
      if user.membership_status
        a(href=`/leave/${user._id}`) Leave the club 
        if allMessages    
          ul
            each val in allMessages   
              li #{val.title} - #{val.text} written by #{val.user.first_name} #{val.user.last_name}, at #{val.time}
      else 
        a(href=`/join/${user._id}`) Join the club 
        if allMessages  
        ul
          each val in allMessages   
              li #{val.title} - #{val.text} written by Anon, at #{val.time}          
  if !user
   p No user is logged in yet
   <br>
   h3 Sign in to your account
   form(action="/log-in", method="POST") 
    div.form-group
      label(for='username') Email:
      input#username.form-control(type='email' placeholder='Email' name='username' required='true')
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password' placeholder='Password' name='password' required='true')    
    button.btn.btn-primary(type='submit') Log in 
    a(href='/sign-up') Or create a new account 
    if allMessages  
      ul
        each val in allMessages   
          li #{val.title} - #{val.text} written by Anon, at #{val.time}