extends layout

block content
  h1= title
  if user   
   p Welcome back, #{user.first_name} #{user.last_name} 
   a(href=`/join/${user._id}`) Join the club 
   a(href='/log-out') Log out 
   form(action='' method='post')
      div.form-group 
        label(for='title') title: 
        input#title.form-control(type='text' placeholder='ur title' name='title' required='true')  
      div.form-group 
        label(for='message') message: 
        input#message.form-control(type='text' placeholder='ur message' name='message' required='true')

  else 
   p No user is logged in yet  #{message}
   <br>
   h3 Sign in to your account
   form(action="/log-in", method="POST") 
    div.form-group
      label(for='username') Email:
      input#username.form-control(type='email' placeholder='Email' name='username' required='true')
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password' placeholder='Password' name='password' required='true')    
    button.btn.btn-primary(type='submit') Log in 
    a(href='/sign-up') Or create a new account 

